<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Report Tests</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f375">  <td>19/03/14 17:02:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ResultsUIElementsTest.verifyResultsUIElementsPage(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:napcTestObjects.ResultsUIElementsTest@39c0f4a]">verifyResultsUIElementsPage</td> 
  <td>main@1690254271</td>   <td></td> </tr>
</table>
